<%- include('../layouts/header.ejs') %>

    <%- include('../layouts/admin_navbar.ejs') %>

        <!-- Page content-->
        <section class="bg-secondary-subtle">
            <div class="container-xl">
                <div class="row py-5">
                    <div class="col d-flex flex-column align-items-start gap-2">
                        <h2 class="fw-normal display-4">Records</h2>
                        <p class="fs-4 fw-normal mb-0">Paragraph of text beneath the heading to explain the heading.
                            We'll add onto it with
                            another sentence and probably just keep going until we run out of words.</p>
                        <a href="/signup/view" class="btn btn-primary btn-lg my-3">Add Employee</a>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">

                            <% if(!data || data.length===0){ %>

                                <div class="col-12 text-center">
                                    <h4 class="text-danger">No Records Found</h4>
                                </div>

                                <% } else { %>

                                    <% data.forEach((emp)=>{ %>

                                <div class="col-lg-4">
                                    <div class="card mb-4 border-0 bg-transparent">
                                        <div class="card-body p-4 border-0 bg-light-blue shadow-lg rounded-4">
                                            <div class="row">
                                                <div class="col-lg-6 col-12">
                                                    <div class="lead fw-normal fs-4 text-black mb-3">
                                                        <%= new Date(emp.createdAt).toDateString() %>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-12">
                                                    <form action="/employee-status/<%= emp._id %>"
                                                        method="post">
                                                        <div
                                                            class="form-check form-switch fs-4 fw-normal ms-5 ps-5">
                                                            <input class="form-check-input" type="checkbox"
                                                                role="switch" name="isActive"
                                                                id="statusSwitch<%= emp._id %>"
                                                                <%=emp.isActive==='active' ? 'checked' : '' %>
                                                            onchange="this.form.submit()">
                                                            <label class="form-check-label">
                                                                <%= emp.isActive==='active' ? 'Active'
                                                                    : 'Deactivated' %>
                                                            </label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <h2 class="card-title fs-3 text-truncate fw-semibold mb-3">
                                                <span class="fw-semibold">Name:</span> <%= emp.name %>
                                            </h2>
                                            <p class="card-text lead fs-4 text-truncate fw-normal">
                                                <span class="fw-normal">Email:</span> <%= emp.email %>
                                            </p>
                                            <p class="card-text lead fs-4 text-truncate fw-normal">
                                                <span class="fw-normal">Role:</span> <%= emp.role %>
                                            </p>
                                            <div
                                                class="d-lg-block d-block gap-2 d-md-flex justify-content-center">
                                                <% if (emp.isActive==='active' ) { %>
                                                    <a class="btn btn-danger btn-lg me-md-2"
                                                        href="/edit/data/<%= emp._id %>">
                                                        <i class="bi bi-pen me-2"></i>Change Password
                                                    </a>
                                                    <% } else { %>
                                                        <button class="btn btn-secondary btn-lg me-md-2"
                                                            disabled>
                                                            <i class="bi bi-slash-circle me-2"></i>Deactivated
                                                        </button>
                                                        <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../layouts/footer.ejs') %>